<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="FFMPEG_PATH" value=".\TOOLS_PATH\ffmpeg\bin\ffmpeg.exe"/>
        <add key="YOUTUBER_DL_PATH" value=".\TOOLS_PATH\youtube-dl.exe"/>
        <add key="WORKSPACE" value="WorkSpace"/>
        <add key="LOG" value="latest.log"/>
        <add key="DEBUG" value="false"/>
        <add key="DEBUG_DIRECTORY" value=""/>
        <add key="DEBUG_FILES" value=""/>
    </appSettings>
</configuration>